html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

header, div, footer {
	background-color: #D3D3D3;
}

header {
	height: 75px;
}
div {
	height: 350px;
	margin-top: 22px;
	margin-bottom: 22px;
}

#left {
	float: left;
	width: 66%;
}

#right {
	float:right;
	width: 32%;
}

footer {
	height: 75px;
	clear: both;
}